Repository kontena/kontena, pull requests merged in 2018-02, with the labels that each got.

#3258 Fix stack service extends: from registry stacks
  cli/lib/kontena/cli/stacks/yaml/reader.rb
  cli/spec/fixtures/kontena_v3_with_registry_extends.yml
  cli/spec/kontena/cli/stacks/yaml/reader_spec.rb
Labels: bug, cli

#3248 Server: Derive stronger SymmetricEncryption key from the configured VAULT_KEY
  server/Gemfile
  server/Gemfile.lock
  server/app/initializers/01_symmetric_encryption.rb
  server/db/migrations/31_reencrypt_vault_secrets.rb
  server/spec/db/migrations/31_rencrypt_vault_secrets_spec.rb
Labels: bug, server, status/code-review

#3259 Fix agent ServicePodWorker to ignore stale container events
  agent/lib/kontena/models/service_pod.rb
  agent/lib/kontena/workers/service_pod_worker.rb
  agent/spec/lib/kontena/workers/service_pod_worker_spec.rb
Labels: agent, bug

#3267 Upgrade CLI clamp dependency to 1.2.1
  cli/kontena-cli.gemspec
Labels: chore, cli

#3241 Enable server API gzip encoding when KONTENA_SERVER_GZIP=true
  server/server.rb
  test/docker-compose.yml
Labels: enhancement, server, status/design-review

#3275 Change GridService.stop_grace_period to Integer
  server/app/models/grid_service.rb
Labels: chore, server

#3257 Warn if a service or stack name includes invalid characters for a hostname
  cli/lib/kontena/cli/stacks/yaml/validator_v3.rb
  cli/spec/kontena/cli/stacks/yaml/validator_v3_spec.rb
Labels: enhancement

#3263 Fix cli grid remove parameter attribute conflict
  cli/lib/kontena/cli/grids/remove_command.rb
  cli/spec/kontena/cli/grids/remove_command_spec.rb
Labels: bug, cli

#3265 Change agent health check to accept HTTP 3xx as healthy
  agent/lib/kontena/workers/container_health_check_worker.rb
  agent/spec/lib/kontena/workers/container_health_check_worker_spec.rb
  test/spec/features/stack/healthcheck_spec.rb
  test/spec/fixtures/stack/healthcheck/Dockerfile
  test/spec/fixtures/stack/healthcheck/kontena.yml
  test/spec/fixtures/stack/healthcheck/server.rb
Labels: agent, enhancement, status/merge

#2780 Improve agent ServicePodWorker container restart handling
  agent/lib/kontena/rpc/service_pods_api.rb
  agent/lib/kontena/service_pods/restarter.rb
  agent/lib/kontena/workers/container_health_check_worker.rb
  agent/lib/kontena/workers/service_pod_manager.rb
  agent/lib/kontena/workers/service_pod_worker.rb
  agent/spec/lib/kontena/rpc/service_pods_api_spec.rb
  agent/spec/lib/kontena/service_pods/restarter_spec.rb
  server/app/mutations/grid_services/restart.rb
  server/app/services/docker/service_restarter.rb
  server/spec/mutations/grid_services/restart_spec.rb
  server/spec/services/docker/service_restarter_spec.rb
Labels: agent, server

#3261 Remove project root .ruby-version, update agent/ and server/ .ruby-version
  .gitignore
  .ruby-version
  agent/.ruby-version
  cli/.gitignore
  server/.ruby-version
Labels: chore

#2786 Remove server AsyncHelper#async_thread
  server/app/helpers/async_helper.rb
  server/spec/support/async_mock.rb
Labels: chore, server

#3284 Log container healthcheck errors
  agent/lib/kontena/workers/container_health_check_worker.rb
Labels: agent, chore

#3268 Allow CLI --options after parameters
  cli/bin/kontena
  cli/lib/kontena/callback.rb
  cli/lib/kontena/cli/containers/exec_command.rb
  cli/lib/kontena/cli/master/ssh_command.rb
  cli/lib/kontena/cli/nodes/ssh_command.rb
  cli/lib/kontena/cli/services/exec_command.rb
  cli/lib/kontena/command.rb
  cli/spec/kontena/cli/nodes/ssh_command_spec.rb
  cli/spec/kontena/command_spec.rb
  test/spec/features/cli_spec.rb
  test/spec/features/container/exec_spec.rb
  test/spec/features/service/exec_spec.rb
Labels: cli, enhancement

#3286 Log service:instance_exit event on container crashes
  agent/lib/kontena/workers/service_pod_worker.rb
  agent/spec/lib/kontena/workers/service_pod_worker_spec.rb
Labels: agent, enhancement

#3294 Travis macos omnibus
  .travis.yml
  build/travis/deploy_omnibus_macos.sh
Labels: chore, cli

#3298 Fix CLI kontena service scale missing --no-wait flag
  cli/lib/kontena/cli/services/scale_command.rb
Labels: cli, enhancement

#3288 Fix agent container log dropping entries when queue size exactly matches the throttle limit
  agent/lib/kontena/workers/container_log_worker.rb
Labels: agent, bug

#3170 Fix e2e test container to use bundle exec
  test/Dockerfile.test
  test/entrypoint.sh
Labels: bug, test

#3218 Fix server MongoPubsub to restart subscriptions after crashing
  server/app/services/mongo_pubsub.rb
  server/spec/services/mongo_pubsub_spec.rb
Labels: bug, server

#3272 Drop CLI Ruby 2.1.0 support, upgrade installer embedded Ruby to 2.5.0
  .travis.yml
  build/travis/deploy_omnibus_macos.sh
  build/travis/kontena.p12.enc
  cli/README.md
  cli/kontena-cli.gemspec
  cli/omnibus/Gemfile.lock
  cli/omnibus/config/projects/kontena.rb
  cli/omnibus/config/software/kontena-cli.rb
  cli/omnibus/package-scripts/kontena/postinstall
  cli/omnibus/wrappers/sh/kontena
Labels: chore, cli, enhancement, status/merge

#3287 Fix agent to unregister LB service backends earlier during container shutdown
  agent/lib/kontena/load_balancers/registrator.rb
  test/spec/features/stack/shutdown_spec.rb
  test/spec/fixtures/stack/shutdown-test/Dockerfile.client
  test/spec/fixtures/stack/shutdown-test/Dockerfile.server
  test/spec/fixtures/stack/shutdown-test/client.rb
  test/spec/fixtures/stack/shutdown-test/kontena.yml
  test/spec/fixtures/stack/shutdown-test/server.rb
  test/spec/support/service_helper.rb
Labels: agent, bug, lb, test

#3290 Fix CLI stack / service deploy --no-wait description
  cli/lib/kontena/cli/services/deploy_command.rb
  cli/lib/kontena/cli/stacks/deploy_command.rb
Labels: bug, cli, enhancement

#3219 Switch to Stack registry V2 API and add support the new stack YAML metadata fields
  cli/lib/kontena/cli/stacks/install_command.rb
  cli/lib/kontena/cli/stacks/registry/create_command.rb
  cli/lib/kontena/cli/stacks/registry/make_private_command.rb
  cli/lib/kontena/cli/stacks/registry/make_public_command.rb
  cli/lib/kontena/cli/stacks/registry/pull_command.rb
  cli/lib/kontena/cli/stacks/registry/push_command.rb
  cli/lib/kontena/cli/stacks/registry/remove_command.rb
  cli/lib/kontena/cli/stacks/registry/search_command.rb
  cli/lib/kontena/cli/stacks/registry/show_command.rb
  cli/lib/kontena/cli/stacks/registry_command.rb
  cli/lib/kontena/cli/stacks/show_command.rb
  cli/lib/kontena/cli/stacks/upgrade_command.rb
  cli/lib/kontena/cli/stacks/yaml/reader.rb
  cli/lib/kontena/cli/stacks/yaml/stack_file_loader/registry_loader.rb
  cli/lib/kontena/client.rb
  cli/lib/kontena/scripts/completer.rb
  cli/lib/kontena/stacks_cache.rb
  cli/lib/kontena/stacks_client.rb
  cli/spec/fixtures/kontena_v3_with_metadata.yml
  cli/spec/kontena/cli/stacks/install_command_spec.rb
  cli/spec/kontena/cli/stacks/upgrade_command_spec.rb
  cli/spec/kontena/cli/stacks/yaml/reader_spec.rb
  cli/spec/kontena/cli/stacks/yaml/stack_file_loader/registry_loader_spec.rb
  server/app/models/stack_revision.rb
  server/app/mutations/stacks/common.rb
  server/app/views/v1/stacks/_stack.json.jbuilder
  server/docs/source/index.html.md
  server/spec/api/v1/stacks_spec.rb
  test/spec/features/service/list_spec.rb
  test/spec/features/stack/install_spec.rb
  test/spec/features/stack/registry/pull_spec.rb
  test/spec/features/stack/registry/search_spec.rb
  test/spec/features/stack/registry/show_spec.rb
  test/spec/features/stack/show_spec.rb
  test/spec/fixtures/stack/metadata/future.yml
  test/spec/fixtures/stack/metadata/kontena.yml
Labels: cli, enhancement

#3305 Fix flaky agent EventWorker#start spec
  agent/spec/lib/kontena/workers/event_worker_spec.rb
Labels: agent, chore

#3309 Upgrade server api-docs build system nokogiri to 1.8.2
  server/docs/Gemfile.lock
Labels: chore
