Repository kontena/kontena, pull requests merged in 2018-05, with the labels that each got.

#3082 Remove repository root Rakefile gem dependencies
  Rakefile
Labels: chore

#3344 Do not allow to remove connected node from grid
  cli/lib/kontena/cli/nodes/remove_command.rb
  cli/spec/kontena/cli/nodes/remove_command_spec.rb
Labels: cli, enhancement, status/merge

#3351 Fix server db migration number overlap
  server/db/migrations/33_stack_labels_rebuild_indexes.rb
Labels: bug, server

#3345 Drop Ruby 2.2 support
  .travis.yml
  cli/kontena-cli.gemspec
Labels: chore
