Repository kontena/kontena, pull requests merged in 2018-03, with the labels that each got.

#3313 Remove orphaned certificates and fix crashing migration
  server/app/models/certificate.rb
  server/app/models/grid.rb
  server/db/migrations/31_reencrypt_vault_secrets.rb
  server/db/migrations/32_clean_up_orphan_certificates.rb
  server/spec/db/migrations/31_rencrypt_vault_secrets_spec.rb
  server/spec/db/migrations/32_clean_up_orphan_certificates_spec.rb
  server/spec/models/certificate_spec.rb
Labels: bug, server

#3321 Update CHANGELOG.md to 1.5.1
  CHANGELOG.md
Labels: chore

#3319 Clean CLI stacks cache debug puts
  cli/lib/kontena/stacks_cache.rb
Labels: bug, cli

#3318 Fix cli certificate authorize --help for http-01
  cli/lib/kontena/cli/certificate/authorize_command.rb
Labels: bug, cli

#3276 Fix server RpcServer to not hang the actor thread
  server/app/middlewares/websocket_backend.rb
  server/app/services/rpc_server.rb
  server/spec/middlewares/websocket_backend_spec.rb
  server/spec/services/rpc_server_spec.rb
Labels: bug, server

#3299 Fix service scale to set service running state
  server/app/jobs/grid_service_scheduler_worker.rb
  server/app/mutations/grid_services/deploy.rb
  server/app/mutations/grid_services/helpers.rb
  server/app/mutations/grid_services/scale.rb
  server/app/services/grid_service_deployer.rb
  server/spec/jobs/grid_service_scheduler_worker_spec.rb
  server/spec/mutations/grid_services/deploy_spec.rb
  server/spec/mutations/grid_services/scale_spec.rb
  server/spec/services/grid_service_deployer_spec.rb
Labels: bug, server

#3325 Release v1.5.2
  CHANGELOG.md
  VERSION
  agent/VERSION
  cli/VERSION
  server/VERSION
Labels: bug, cli, server
