Repository kontena/kontena, pull requests merged in 2018-06, with the labels that each got.

#3346 Make node update accept multiple node names
  cli/lib/kontena/cli/nodes/update_command.rb
Labels: cli, enhancement

#3349 Show validation errors in kontena stack build
  cli/lib/kontena/cli/stacks/build_command.rb
Labels: bug, cli

#3357 Update README to Kontena Classic
  README.md
Labels: chore, documentation
