Repository kontena/kontena, pull requests merged in 2018-07, with the labels that each got.

#3347 Improve stack inspect banner/help text
  cli/lib/kontena/cli/stack_command.rb
  cli/lib/kontena/cli/stacks/inspect_command.rb
Labels: chore, cli

#3353 CLI: Upgrade dependencies: excon 0.62, tty-prompt 0.16.1, tty-table 0.10.0
  cli/kontena-cli.gemspec
  test/spec/features/stack/list_spec.rb
Labels: chore

#3304 Add links into CLI gemspec metadata
  cli/kontena-cli.gemspec
Labels: chore, cli

#3359 Disable e2e service shutdown LB spec
  test/spec/features/stack/shutdown_spec.rb
  test/spec/spec_helper.rb
Labels: chore, test
